::selection {
	background-color: rgba(13, 173, 81, 0.2);
	color: #333
}

::-moz-selection {
	background-color: rgba(13, 173, 81, 0.2);
	color: #333
}

::-webkit-selection {
	background-color: rgba(13, 173, 81, 0.2);
	color: #333
}

.dy {
	position: relative;
	top: 5px;
	display: inline-block;
	margin-right: 2px
}

.dy.no_f {
	top: 0
}

.dy.up_f {
	top: -4px
}

.dy .dy_tag {
	max-width: 52px !important;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 17px;
	line-height: 17px;
	text-align: center;
	border-radius: 2px;
	color: #9399a5 !important;
	background-color: #eff0f2;
	font-size: 11px;
	display: inline-block;
	margin-left: 4px !important
}

.dy .dy_tag.lj_tag {
	background-color: #00ae66;
	margin: 0 !important
}

.dy .dy_desc {
	display: none;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 157px;
	line-height: 16px;
	padding: 12px;
	box-sizing: border-box;
	font-size: 12px;
	color: #394043;
	position: absolute !important;
	top: 8px;
	left: 11px;
	z-index: 2;
	text-align: left;
	white-space: pre-wrap
}

.dy:hover .dy_desc {
	display: block
}

.dy .xiaowenhao {
	background-image: url('/feroot/pc/asset/img/xiaowenhao.png');
	display: inline-block;
	margin-left: 4px;
	width: 16px;
	height: 16px;
	background-size: 100% 100%;
	margin-right: 4px;
	position: relative;
	top: -1px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.dy .xiaowenhao {
		background-image: url('/feroot/pc/asset/img/xiaowenhao@2x.png')
	}
}

.banner {
	background-color: #394043;
	line-height: 38px;
	font-size: 12px
}

.banner .container {
	width: 1150px;
	margin: 0 auto
}

.banner .container .channelList {
	display: table-cell;
	white-space: nowrap
}

.banner .container .channelList li {
	display: inline-block;
	margin-right: 21.5px;
	position: relative
}

.banner .container .channelList li a {
	color: #a9abab;
	text-decoration: none
}

.banner .container .channelList li.selected>a,.banner .container .channelList li:hover>a
	{
	color: #ffffff
}

.banner .container .channelList li .childList {
	display: none;
	position: absolute;
	width: 61px;
	top: 38px;
	left: -18px;
	padding: 8px 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #394043;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.7)
}

.banner .container .channelList li .childList a {
	display: block;
	line-height: 25px;
	text-align: center;
	color: #a9abab
}

.banner .container .channelList li .childList a.selected,.banner .container .channelList li .childList a:hover
	{
	color: #fff;
	background-color: #4c5355
}

.banner .container .channelList li .appQRCode {
	display: none;
	position: absolute;
	top: 38px;
	left: -32px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #394043;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
	padding: 12px;
	z-index: 1
}

.banner .container .channelList li .appQRCode img {
	width: 90px;
	height: 90px
}

.banner .container .channelList li:hover .childList,.banner .container .channelList li:hover .appQRCode
	{
	display: block
}

.banner .container .banner-right {
	display: table-cell;
	width: 1000px;
	text-align: right;
	color: #fff
}

.banner .container .banner-right a {
	color: #fff
}

.banner .container .banner-right .login {
	display: inline-block;
	margin-right: 20px;
	position: relative
}

.banner .container .banner-right .login i {
	vertical-align: -1px;
	display: inline-block;
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -451px -151px;
	width: 12px;
	height: 12px;
	margin-right: 9px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.banner .container .banner-right .login i {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.banner .container .banner-right .login i {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.banner .container .banner-right .login .pushNews {
	display: inline-block;
	vertical-align: 7px;
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -461px -130px;
	width: 5px;
	height: 5px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.banner .container .banner-right .login .pushNews {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.banner .container .banner-right .login .pushNews {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.banner .container .banner-right .login .pushNewsList {
	display: none;
	position: absolute;
	z-index: 20;
	top: 38px;
	left: 0;
	padding: 8px 0;
	background-color: #394043;
	text-align: left;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.7)
}

.banner .container .banner-right .login .pushNewsList a {
	display: block;
	line-height: 25px;
	padding: 0 17px;
	white-space: nowrap
}

.banner .container .banner-right .login .pushNewsList a:hover,.banner .container .banner-right .login .pushNewsList a.selected
	{
	color: #fff;
	background-color: #4c5355;
	text-decoration: none
}

.banner .container .banner-right .login .unreadNumber {
	padding: 0 3px
}

.banner .container .banner-right .login:hover .pushNewsList {
	display: block
}

.banner .container .banner-right .phone {
	display: inline-block
}

.banner .container .banner-right .phone i {
	vertical-align: -1px;
	display: inline-block;
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -389px -197px;
	width: 12px;
	height: 12px;
	margin-right: 9px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.banner .container .banner-right .phone i {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.banner .container .banner-right .phone i {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.header {
	background-color: #f5f5f6
}

.header .wrap { *
	zoom: 1;
	margin: 0 auto;
	width: 1150px;
	padding: 30px 0 25px;
	line-height: 32px;
	font-size: 16px
}

.header .wrap:before,.header .wrap:after {
	display: table;
	content: ""
}

.header .wrap:after {
	clear: both
}

.header .logo {
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: 0 -373px;
	width: 250px;
	height: 32px;
	float: left
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.header .logo {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.header .logo {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.header a {
	color: #394043
}

.header .nav {
	float: left;
	margin-left: 45px
}

.header .nav li {
	float: left;
	padding-left: 32px
}

.header .nav li:first-child {
	padding-left: 0
}

.header .nav a {
	display: block;
	text-decoration: none
}

.header .nav a.active {
	color: #00ae66
}

.header .app {
	float: right
}

.header .app .icon-app {
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -452px -112px;
	width: 14px;
	height: 18px;
	float: left;
	margin-right: 10px;
	margin-top: 7px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.header .app .icon-app {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.header .app .icon-app {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.header .app .icon-app span {
	float: left
}

.g-main {
	color: #394043
}

.g-main * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.g-main a {
	color: inherit
}

.f-center { *
	zoom: 1;
	width: 990px;
	margin: 0 auto
}

.f-center:before,.f-center:after {
	display: table;
	content: ""
}

.f-center:after {
	clear: both
}

.f-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.g-main {
	padding-bottom: 20px
}

.m-jumbotron {
	padding-top: 20px;
	padding-bottom: 50px;
	line-height: 1;
	text-align: center;
	background-color: #f5f5f6
}

.m-jumbotron .tit {
	font-weight: bold;
	color: #333;
	font-size: 33px
}

.m-jumbotron .sub-tit {
	margin-top: 15px;
	color: #878787;
	font-size: 16px
}

.m-entry {
	color: #9c9fa1
}

.m-entry dl { *
	zoom: 1;
	padding: 12px 0;
	line-height: 40px;
	border-bottom: 1px solid #eee
}

.m-entry dl:before,.m-entry dl:after {
	display: table;
	content: ""
}

.m-entry dl:after {
	clear: both
}

.m-entry dl:first-child {
	padding-top: 0
}

.m-entry dl.compact {
	padding: 0;
	padding-bottom: 25px;
	line-height: 1
}

.m-entry dt {
	float: left;
	color: #333;
	font-weight: bold;
	width: 120px
}

.m-entry dd {
	position: relative;
	float: left;
	width: 470px
}

.m-entry dd>* {
	float: left
}

.m-entry input {
	border: none;
	height: 40px;
	line-height: 20px;
	padding: 10px 0
}

.m-entry input.sugInput {
	width: 100%
}

.m-entry input.error {
	color: #e4232b
}

.m-entry .unit {
	font-weight: bold;
	color: #394043
}

.m-entry .square {
	float: right;
	color: #333
}

.m-entry .total-floor {
	text-align: right;
	background-color: #fff;
	color: #333
}

.m-entry .total-floor:after {
	display: none
}

.m-entry .link-gujia {
	float: right;
	color: #009de8;
	font-size: 12px
}

.m-entry .btn-getcode-voice {
	display: none;
	float: left;
	width: 100px;
	color: #009de8;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	margin-left: 70px;
	margin-top: 10px;
	cursor: pointer
}

.m-entry .btn-getcode-sms,.m-entry .btn-get-sms {
	float: right;
	width: 145px;
	line-height: 38px;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 1px;
	cursor: pointer;
	font-size: 12px;
	background-color: #fdfdfd;
	color: #666;
	height: 38px
}

.m-entry .btn-getcode-sms.active,.m-entry .btn-get-sms.active {
	color: #ccc
}

.u-sug {
	position: relative;
	width: 100%
}

.u-sug ul {
	display: none;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 40px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #a8a8a8
}

.u-sug ul:empty {
	display: none
}

.u-sug li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 10px;
	height: 40px;
	line-height: 20px;
	font-size: 12px;
	color: #333;
	cursor: pointer
}

.u-sug li:hover {
	background-color: #f5f5f6
}

.u-select {
	position: relative;
	float: left;
	width: 146px;
	height: 40px;
	padding: 10px;
	line-height: 20px;
	margin-left: 16px;
	border-radius: 1px;
	background-color: #f5f5f6;
	color: #aaa;
	font-size: 12px;
	cursor: default
}

.u-select.error {
	color: #e4232b;
	background-color: #feecec
}

.u-select.error input {
	color: #e4232b
}

.u-select:first-child {
	margin-left: 0
}

.u-select:after {
	content: "";
	position: absolute;
	right: 10px;
	top: 18px;
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -452px -130px;
	width: 9px;
	height: 5px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.u-select:after {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.u-select:after {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.u-select .u-select-selected.selected {
	color: #000
}

.u-select.u-select-build {
	padding: 5px 10px
}

.u-select.u-select-build:after {
	display: none
}

.u-select.u-select-build input {
	height: 30px;
	padding: 5px 0;
	line-height: 25px;
	background-color: transparent
}

.u-select.u-select-build select {
	height: 30px;
	padding: 5px 0;
	line-height: 25px;
	background-color: transparent;
	    border: none;
	width: 100%
}

.u-select .u-select-options {
	display: none;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 41px;
	width: 145px;
	max-height: 280px;
	overflow-y: auto;
	background-color: #fff;
	border: 1px solid #f5f5f6;
	border-radius: 1px
}

.u-select .u-select-option {
	padding: 5px 15px;
	font-size: 12px;
	line-height: 18px;
	color: #333
}

.u-select .u-select-option:hover,.u-select .u-select-option.active {
	background-color: #f5f5f6
}

.u-checkbox {
	float: left;
	margin-left: 40px;
	cursor: default
}

.u-checkbox:first-child {
	margin-left: 0
}

.u-checkbox.active .icon-checkbox {
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -441px -181px;
	width: 14px;
	height: 14px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.u-checkbox.active .icon-checkbox {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.u-checkbox.active .icon-checkbox {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.u-checkbox .icon-checkbox {
	float: left;
	margin-top: 13px;
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -337px -197px;
	width: 14px;
	height: 14px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.u-checkbox .icon-checkbox {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.u-checkbox .icon-checkbox {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.u-checkbox .txt-checkbox {
	float: left;
	margin-left: 10px
}

.m-submit {
	margin-top: 60px
}

.m-submit .wrap { *
	zoom: 1;
	width: 990px;
	margin: 0 auto
}

.m-submit .wrap:before,.m-submit .wrap:after {
	display: table;
	content: ""
}

.m-submit .wrap:after {
	clear: both
}

.m-submit .btn-submit {
	float: left;
	margin-left: 180px;
	width: 190px;
	line-height: 55px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	background-color: #00ac65;
	cursor: pointer
}

.m-submit .btn-liwu {
	position: relative;
	float: left;
	margin-left: 32px;
	margin-top: 15px;
	cursor: pointer
}

.m-submit .btn-liwu:hover .summary {
	display: block
}

.m-submit .btn-liwu .icon-liwu {
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -365px -197px;
	width: 12px;
	height: 12px;
	float: left;
	margin-top: 5px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.m-submit .btn-liwu .icon-liwu {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.m-submit .btn-liwu .icon-liwu {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.m-submit .btn-liwu .txt {
	float: left;
	margin-left: 6px;
	line-height: 25px;
	color: #666
}

.m-submit .btn-liwu .summary {
	display: none;
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 28px;
	padding: 20px;
	font-size: 12px;
	color: #333;
	line-height: 1;
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -196px 0;
	width: 270px;
	height: 112px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.m-submit .btn-liwu .summary {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.m-submit .btn-liwu .summary {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.m-submit .btn-liwu .summary:before {
	content: "";
	position: absolute;
	left: -1px;
	bottom: -15px
}

.m-submit .btn-liwu .summary p {
	margin-top: 10px
}

.m-submit .btn-liwu .summary p:first-child {
	margin-top: 0
}

.m-submit .btn-liwu .summary b {
	font-weight: bold;
	color: #e4393c
}

.m-submit .btn-gujia-text {
	float: left;
	margin-left: 400px;
	margin-top: 20px;
	width: 190px;
	font-size: 13px;
	line-height: 14px;
	color: #999;
	text-align: center
}

.m-tips {
	text-align: center;
	margin-top: 70px
}

.m-success {
	display: none;
	position: fixed;
	z-index: 1002;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.m-success .marsk {
	opacity: .6;
	filter: alpha(opacity = 60);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000
}

.m-success .box {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 700px;
	height: 340px;
	margin-left: -350px;
	margin-top: -170px;
	background-color: #fff;
	box-shadow: 0 8px 29px 0 rgba(0, 0, 0, 0.32)
}

.m-success .box-l {
	position: relative;
	float: left;
	width: 510px;
	height: 100%;
	padding: 70px 35px 30px 35px
}

.m-success .box-l .icon-weituo-success {
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: 0 -292px;
	width: 104px;
	height: 81px;
	position: absolute;
	left: 88px;
	top: 70px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.m-success .box-l .icon-weituo-success {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.m-success .box-l .icon-weituo-success {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.m-success .box-l .tit {
	margin-top: 10px;
	padding-left: 170px;
	font-size: 24px;
	line-height: 1;
	font-weight: bold
}

.m-success .box-l .sub-tit {
	padding-left: 170px;
	line-height: 22px
}

.m-success .box-l .line {
	position: relative;
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 1;
	color: #bdbdbd
}

.m-success .box-l .line:before {
	content: "";
	position: absolute;
	top: 6px;
	left: 135px;
	right: 0;
	height: 1px;
	background-color: #f1f1f1
}

.m-success .box-l .item { *
	zoom: 1;
	margin-top: 10px;
	line-height: 18px
}

.m-success .box-l .item:before,.m-success .box-l .item:after {
	display: table;
	content: ""
}

.m-success .box-l .item:after {
	clear: both
}

.m-success .box-l .item>div {
	float: left;
	width: 220px;
	font-size: 12px
}

.m-success .box-l .item>div:first-child {
	width: 220px
}

.m-success .box-l .item.bold {
	margin-top: 0;
	line-height: 1;
	font-weight: bold
}

.m-success .box-r {
	float: right;
	width: 190px;
	height: 100%;
	background-color: #f5f5f6;
	position: relative;
	padding: 100px 33px 0
}

.m-success .box-r .icon-qrcode {
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -196px -112px;
	width: 124px;
	height: 124px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.m-success .box-r .icon-qrcode {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.m-success .box-r .icon-qrcode {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.m-success .box-r .txt {
	margin-top: 20px;
	line-height: 1;
	font-size: 12px;
	color: #999
}

.m-success .icon-close {
	background-image: url(../component/sprite.png?t=1472711680934);
	background-position: -377px -197px;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.m-success .icon-close {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.m-success .icon-close {
		background-image: url(../component/sprite@2x.png?t=1472711680934);
		background-size: 466px 405px
	}
}

.m-success .btn-confirm {
	margin-left: 170px;
	margin-top: 45px;
	width: 160px;
	height: 45px;
	line-height: 43px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #d9dcde;
	border-radius: 2px;
	cursor: pointer;
	text-align: center
}

.header .logo {
	width: 120px
}

.header .nav {
	margin-left: 34px
}

.m-entry { *
	zoom: 1;
	width: 990px;
	margin: 0 auto;
	width: 590px;
	padding-top: 50px
}

.m-entry:before,.m-entry:after {
	display: table;
	content: ""
}

.m-entry:after {
	clear: both
}

.m-submit .wrap { *
	zoom: 1;
	width: 990px;
	margin: 0 auto
}

.m-submit .wrap:before,.m-submit .wrap:after {
	display: table;
	content: ""
}

.m-submit .wrap:after {
	clear: both
}

.m-tips {
	text-align: center;
	margin-top: 70px
}

.header .logo {
	width: 120px
}

.header .nav {
	margin-left: 34px
}

.verify_layer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.8);
	display: block
}

.verify_layer .verify_box {
	position: absolute;
	background-color: #fff;
	padding: 30px 0 30px 20px;
	border-radius: 5px;
	width: 420px;
	top: 50%;
	left: 50%;
	margin-top: -108px;
	margin-left: -220px
}

.verify_layer .verify_box .hintTitle {
	display: block;
	font-size: 22px;
	color: #384043;
	margin-bottom: 10px
}

.verify_layer .verify_box input {
	width: 160px;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	vertical-align: middle;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	color: #333;
	font-size: 14px
}

.verify_layer .verify_box img {
	width: 90px;
	height: 40px;
	vertical-align: middle;
	border: 1px solid #d0d0d0;
	margin-left: 15px
}

.verify_layer .verify_box button {
	margin-top: 30px;
	text-align: center;
	width: 90px;
	display: block;
	color: #433;
	background-color: #fff;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	vertical-align: middle;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	font-size: 14px
}

.verify_layer .verify_box .actClose {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 16px;
	color: #808080;
	text-decoration: none
}

.sms-dl {
	display: none
}