.lianjiaim {
	position: fixed;
	right: 38px;
	bottom: 0;
	font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
		"微软雅黑", 'Segoe UI', Tahoma, "宋体b8b\4f53", SimSun, sans-serif;
	z-index: 1000;
	transition: bottom .2s
}

.lianjiaim * {
	box-sizing: content-box
}

.lianjiaim .fl {
	float: left
}

.lianjiaim .fr {
	float: right
}

.lianjiaim .fwbold {
	font-weight: 700
}

.lianjiaim ::-webkit-input-placeholder {
	color: #a9a9a9
}

.lianjiaim-shandow {
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.45)
}

.im-fold.lianjiaim {
	bottom: -394px;
	transition: bottom .2s
}

.im-fold .lianjiaim-lianjiaim-head-num {
	display: none
}

.im-fold .lianjiaim-head-closebtn {
	display: none
}

.lianjiaim-wrap {
	position: relative;
	float: right;
	height: 434px;
	z-index: 2
}

.lianjiaim-head {
	width: 200px;
	height: 40px;
	padding-left: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	background: url("../img/imgV2/lianjiaim.png") no-repeat 12px 12px #fff;
	background: -webkit-image-set(url("../img/imgV2/lianjiaim.png") 1x,
		url("../img/imgV2/lianjiaim@2x.png") 2x) no-repeat 12px 12px #fff;
	cursor: pointer
}

.lianjiaim-head span {
	margin-right: 5px;
	vertical-align: middle
}

.lianjiaim-head-num {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 0 5px;
	border-radius: 8px;
	color: #fff;
	font-size: 12px;
	background: #e4393c
}

.lianjiaim-head-closebtn {
	float: right;
	display: block;
	width: 40px;
	height: 40px;
	text-indent: 999em;
	overflow: hidden;
	background: url("../img/imgV2/lianjiaim.png") no-repeat 12px -108px;
	background: -webkit-image-set(url("../img/imgV2/lianjiaim.png") 1x,
		url("../img/imgV2/lianjiaim@2x.png") 2x) no-repeat 12px -108px;
	cursor: pointer
}

.lianjiaim-body {
	height: 393px;
	background: #fff;
	overflow-x: hidden;
	overflow-y: auto
}

.lianjiaim-body-item {
	position: relative;
	height: 71px;
	overflow: hidden;
	cursor: pointer
}

.lianjiaim-body-item.offline .im-item-show .im-item-avatar {
	opacity: .5
}

.lianjiaim-body-item.del .im-item-show {
	opacity: .2;
	transition: opacity .2s
}

.lianjiaim-body-item.del .im-item-delete {
	right: 0;
	transition: right .2s
}

.lianjiaim-body-item .im-item-show {
	position: relative;
	height: 70px;
	margin-left: 15px;
	border-bottom: 1px solid #e9f0ec;
	overflow: hidden;
	opacity: 1;
	transition: opacity .2s
}

.lianjiaim-body-item .im-item-show table {
	width: 100%;
	padding: 0;
	border-collapse: collapse
}

.lianjiaim-body-item .im-item-avatar {
	position: relative;
	width: 40px;
	height: 70px;
	line-height: 70px
}

.lianjiaim-body-item .im-item-avatar img {
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle
}

.lianjiaim-body-item .im-item-avatar i {
	position: absolute;
	right: 0;
	top: 16px;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 0 5px;
	border-radius: 8px;
	color: #fff;
	font-size: 12px;
	background: #e4393c
}

.lianjiaim-body-item .im-item-cont {
	height: 40px;
	padding: 15px 3px 15px 12px
}

.lianjiaim-body-item .im-item-cont span {
	display: block;
	width: 150px;
	line-height: 20px;
	white-space: nowrap;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis
}

.lianjiaim-body-item .im-item-cont .name {
	color: #333;
	font-size: 14px;
	font-weight: 700
}

.lianjiaim-body-item .im-item-cont .text {
	color: #666;
	font-size: 12px
}

.lianjiaim-body-item .im-item-time {
	position: absolute;
	right: 8px;
	top: 8px;
	color: #999;
	font-size: 12px
}

.lianjiaim-body-item .im-item-delbtn {
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	padding: 0 5px;
	color: #5a5a5a;
	font-size: 12px;
	font-family: 'simsun', serif
}

.lianjiaim-body-item .im-item-delbtn:hover {
	text-decoration: none
}

.lianjiaim-body-item .im-item-delete {
	position: absolute;
	right: -240px;
	top: 0;
	width: 100%;
	height: 40px;
	padding: 15px 0 16px 0;
	text-align: center;
	background: #e96063;
	background: rgba(228, 57, 60, 0.8);
	transition: right .2s
}

.lianjiaim-body-item .im-item-delete div {
	display: inline-block;
	vertical-align: middle
}

.lianjiaim-body-item .im-item-delete span {
	display: block;
	line-height: 20px;
	color: #fff
}

.lianjiaim-body-item .im-item-delete .title {
	font-size: 14px;
	font-weight: 700
}

.lianjiaim-body-item .im-item-delete .cont {
	font-size: 12px
}

.lianjiaim-body-item .im-item-delete .im-item-delbtnwrap {
	margin-left: 15px
}

.lianjiaim-body-item .im-item-delete .im-btn {
	display: inline-block;
	width: 41px;
	height: 30px;
	margin: 5px 0 5px 5px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #e4393c
}

.lianjiaim-body-item .im-item-delete .im-btn:hover {
	color: #e4393c;
	background: #fff
}

.lianjiaim-noagent {
	margin-top: 85px;
	padding-top: 90px;
	text-align: center;
	background-image: url("../img/imgV2/lianjiaim_noagent.png");
	background-image: -webkit-image-set(url("../img/imgV2/lianjiaim_noagent.png") 1x,
		url("../img/imgV2/lianjiaim_noagent@2x.png") 2x);
	background-position: 50% 0;
	background-repeat: no-repeat
}

.lianjiaim-noagent .noagent-title {
	padding-bottom: 10px;
	color: #5a5a5a;
	line-height: 16px;
	font-size: 16px;
	font-weight: 700
}

.lianjiaim-noagent .noagent-sub {
	color: #888;
	font-size: 12px
}

.lianjiaim-window {
	position: relative;
	float: right;
	width: 380px;
	height: 434px;
	border-right: 1px solid #ddd;
	background: #f3f3f3;
	z-index: 1
}

.lianjiaim-window.disabled .im-wc-chat {
	bottom: 51px
}

.lianjiaim-window.disabled .im-wc-input {
	height: 40px
}

.lianjiaim-window.disabled .im-input-container,.lianjiaim-window.disabled .im-btn-container
	{
	display: none
}

.im-online .lianjiaim-wintitle i {
	background: #4285f4
}

.im-online .im-wc-hint {
	display: none;
	height: 0
}

.im-offline .lianjiaim-wintitle i {
	background: #dadada
}

.im-offline .im-wc-hint {
	display: block;
	height: 40px
}

.lianjiaim-wintitle {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	line-height: 40px;
	background-color: #fff
}

.lianjiaim-wintitle i {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 2px 0 14px;
	border-radius: 50%;
	text-indent: 999em;
	overflow: hidden
}

.lianjiaim-wincont {
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	bottom: 0
}

.im-wt-name {
	font: 400 14px/ 40px "microsoft yahei", "\5FAE\8F6F\96C5\9ED1", "simhei",
		"\9ED1\4F53", "san-serif";
	color: #333;
	margin-left: 5px
}

.im-wt-time {
	margin-left: 15px;
	font-size: 12px;
	color: #aaa
}

.im-wt-closebtn {
	position: absolute;
	right: 15px;
	top: 13px;
	display: block;
	width: 14px;
	height: 14px;
	text-indent: 999em;
	overflow: hidden;
	background: url("../img/imgV2/lianjiaim.png") no-repeat 0 -91px;
	background: -webkit-image-set(url("../img/imgV2/lianjiaim.png") 1x,
		url("../img/imgV2/lianjiaim@2x.png") 2x) no-repeat 0 -91px;
	cursor: pointer
}

.im-wc-hint {
	color: #9a6a3f;
	text-align: center;
	line-height: 40px;
	background: #ffeca1
}

.im-wc-chat .chat-bang .chat-content {
	width: 260px;
	max-width: 260px
}

.im-wc-chat .chat-bang .bang-appraise .appraise-title {
	font-size: 12px;
	line-height: 16px
}

.im-wc-chat .chat-bang .bang-appraise .appraise-type {
	padding-top: 7px
}

.im-wc-chat .chat-bang .bang-appraise .appraise-type .appraise-type-item
	{
	padding: 7px 0;
	font-size: 12px;
	line-height: 14px;
	overflow: hidden
}

.im-wc-chat .chat-bang .bang-appraise .appraise-type .appraise-text {
	float: left;
	width: 64px
}

.im-wc-chat .chat-bang .bang-appraise .appraise-type .appraise-stars {
	float: left;
	width: 98px
}

.im-wc-chat .chat-bang .bang-appraise .appraise-type .appraise-stars .appraise-star
	{
	float: left;
	width: 14px;
	height: 14px;
	margin-left: 7px;
	background: url(../img/imgV2/star.png);
	background-position: -14px 0
}

.im-wc-chat .chat-bang .bang-appraise .appraise-type .appraise-stars .appraise-star:first-child
	{
	margin-left: 0
}

.im-wc-chat .chat-bang .bang-appraise .appraise-type .appraise-stars .appraise-star.active
	{
	background-position: 0 0
}

.im-wc-chat .chat-bang .bang-appraise .appraise-type .appraise-num {
	float: left;
	margin-left: 15px;
	color: #ff9600
}

.im-wc-chat .chat-bang .bang-appraise textarea {
	display: block;
	margin-top: 7px;
	padding: 10px;
	width: 238px;
	border: 1px solid #d9d9d9
}

.im-wc-chat .chat-bang .bang-appraise .appraise-btns {
	margin-top: 15px;
	text-align: right
}

.im-wc-chat .chat-bang .bang-appraise .appraise-btns span {
	display: inline-block;
	width: 70px;
	line-height: 28px;
	text-align: center;
	cursor: pointer
}

.im-wc-chat .chat-bang .bang-appraise .appraise-btns .appraise-btn-cancel
	{
	color: #3e82f7;
	background-color: #fff
}

.im-wc-chat .chat-bang .bang-appraise .appraise-btns .appraise-btn-submit
	{
	color: #fff;
	background-color: #3e82f7
}

.im-wc-chat {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 123px;
	background: #f3f3f3;
	overflow: auto
}

.im-wc-chat ul {
	position: relative
}

.im-wc-chat .chat-tophint {
	height: 12px;
	padding: 16px 0 16px 0;
	color: #aaa;
	font-size: 12px;
	line-height: 12px;
	text-align: center
}

.im-wc-chat .chat-in .chat-avatar,.im-wc-chat .chat-in .chat-content {
	float: left;
	border-top-left-radius: 0
}

.im-wc-chat .chat-in .chat-content {
	color: #333;
	background: #fff
}

.im-wc-chat .chat-in .chat-content a {
	color: #4285f4;
	text-decoration: underline
}

.im-wc-chat .chat-in .chat-content i {
	background: url("../img/imgV2/bg_w.png") 0 0 no-repeat;
	background: -webkit-image-set(url("../img/imgV2/bg_w.png") 1x,
		url("../img/imgV2/bg_w@2x.png") 2x) 0 0 no-repeat;
	left: -6px
}

.im-wc-chat .chat-out .chat-avatar,.im-wc-chat .chat-out .chat-content {
	float: right;
	border-top-right-radius: 0
}

.im-wc-chat .chat-out .chat-content {
	color: #fff;
	background: #4285f4
}

.im-wc-chat .chat-out .chat-content a {
	color: #fff;
	text-decoration: underline
}

.im-wc-chat .chat-out .chat-content i {
	background: url("../img/imgV2/bg_b.png") 0 0 no-repeat;
	background: -webkit-image-set(url("../img/imgV2/bg_b.png") 1x,
		url("../img/imgV2/bg_b@2x.png") 2x) 0 0 no-repeat;
	right: -6px
}

.im-wc-chat .chat-out .im-housecard .im-housecard-title,.im-wc-chat .chat-out .im-housecard .im-housecard-describe,.im-wc-chat .chat-out .im-housecard .im-housecard-price
	{
	color: #fff
}

.im-wc-chat .chat-time,.im-wc-chat .chat-wait {
	padding: 0 10px;
	color: #aaa;
	font-size: 12px;
	text-align: center
}

.im-wc-chat .chat-time .btn-handle,.im-wc-chat .chat-wait .btn-handle {
	margin-left: 10px;
	color: #4285f4;
	cursor: pointer
}

.im-wc-chat .chat-block {
	margin: 16px 0
}

.im-wc-chat .chat-avatar {
	width: 59px;
	text-align: center
}

.im-wc-chat .chat-avatar a {
	display: inline-block;
	vertical-align: top
}

.im-wc-chat .chat-avatar img {
	border-radius: 50%
}

.im-wc-chat .chat-content {
	position: relative;
	max-width: 220px;
	min-height: 20px;
	padding: 10px;
	border-radius: 5px;
	word-break: break-all
}

.im-wc-chat .chat-content i {
	position: absolute;
	top: 0;
	display: block;
	width: 6px;
	height: 10px;
	font-size: 0
}

.im-wc-chat .chat-content p {
	font: 400 12px/ 20px "microsoft yahei", "\5FAE\8F6F\96C5\9ED1", "simhei",
		"\9ED1\4F53", "san-serif"
}

.im-wc-chat .chat-content .chat-msg-pic {
	max-width: 220px;
	height: 100px
}

.im-wc-chat .chat-content .im-housecard {
	display: block;
	width: 220px;
	height: 54px;
	font-size: 0;
	overflow: hidden
}

.im-wc-chat .chat-content .im-housecard-detail {
	display: inline-block;
	width: 155px;
	height: 54px;
	margin-left: 11px;
	color: #333;
	font-size: 12px;
	line-height: 12px;
	overflow: hidden
}

.im-wc-chat .chat-content .im-housecard-detail span {
	display: block;
	width: 155px;
	padding-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.im-wc-chat .chat-content .im-housecard-title {
	font-size: 14px;
	font-weight: 700;
	height: 14px;
	line-height: 14px
}

.im-wc-chat .chat-content .im-housecard-describe em {
	margin-right: 8px
}

.im-wc-chat .chat-content .im-housecard-price {
	color: #de6843
}

.im-wc-chat .chat-content .im-house-type-right {
	float: right
}

.im-wc-chat.bang-chatcontainer .bang-type span {
	margin-left: 20px;
	color: #4285f4;
	cursor: pointer
}

.im-wc-chat.bang-chatcontainer .bang-type span:first-child {
	margin-left: 0
}

.im-wc-input {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 10px;
	height: 112px;
	background-color: #fff;
	border-top: 1px solid #e0e0e0
}

.im-wc-input .im-input-container {
	position: relative;
	width: 339px;
	height: 28px;
	margin: 0 9px 0 10px;
	padding: 10px 10px 23px 10px;
	border: 1px solid #d9d9d9
}

.im-wc-input .im-input-container.im-input-focus {
	border-color: #b7b7b7
}

.im-wc-input .im-input-container.im-input-focus textarea {
	color: #333
}

.im-wc-input .im-input-container textarea {
	width: 339px;
	height: 28px;
	border: none;
	color: #999;
	line-height: 14px;
	font-size: 12px;
	background: #fff;
	overflow: hidden
}

.im-wc-input .im-input-container .im-input-insertpic {
	position: absolute;
	right: 10px;
	bottom: 8px;
	display: block;
	width: 14px;
	height: 14px;
	text-indent: 999em;
	overflow: hidden;
	background: url("../img/imgV2/lianjiaim.png") no-repeat 0 -72px;
	background: -webkit-image-set(url("../img/imgV2/lianjiaim.png") 1x,
		url("../img/imgV2/lianjiaim@2x.png") 2x) no-repeat 0 -72px;
	cursor: pointer
}

.im-wc-input .im-input-container .im-errorlog {
	position: absolute;
	left: 10px;
	bottom: 8px;
	display: block;
	width: 300px;
	height: 14px;
	color: #f66;
	font-size: 12px;
	line-height: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.im-btn-container {
	height: 40px;
	padding: 10px 10px 0
}

.im-btn-container a {
	float: left;
	line-height: 31px;
	font-size: 12px;
	color: #4285f4
}

.im-btn-container input[type="button"] {
	float: right;
	width: 81px;
	padding: 0;
	border-radius: 0;
	cursor: pointer
}

.im-btn-container input[type="button"].end {
	margin-right: 15px;
	height: 29px;
	border: 1px solid #4285f4;
	color: #4285f4;
	background-color: #fff
}

.im-btn-container input[type="button"].send {
	border: 0;
	height: 31px;
	line-height: 31px;
	color: #fff;
	background: #4285f4
}

.im-btn-container input[type="button"].send:hover {
	background: #00a25a
}

.lianjiaim-personcard {
	position: absolute;
	width: 364px;
	height: 170px;
	padding: 2px 3px 13px 2px;
	margin: -180px 0 0 -185px;
	background: url("../img/imgV2/lianjiaim-personcard-bg.png") no-repeat 0
		0;
	z-index: 3
}

.lianjiaim-personcard .im-gray {
	color: #d2d2d2
}

.lianjiaim-personcard .im-red {
	font-weight: 700;
	color: #e4393c
}

.im-personcard-top {
	height: 116px;
	background: #3f3f3f;
	overflow: hidden
}

.im-personcard-avatar {
	float: left;
	width: 78px;
	height: 116px;
	padding: 0 22px;
	line-height: 116px
}

.im-personcard-avatar img {
	display: inline-block;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	vertical-align: middle
}

.im-personcard-detail {
	float: left;
	height: 86px;
	padding: 15px 0
}

.im-personcard-detail span {
	color: #fff;
	font-size: 12px;
	line-height: 20px
}

.im-personcard-detail .im-personname-wrap {
	padding-bottom: 6px
}

.im-personcard-detail .im-personname {
	padding-right: 10px;
	font-size: 14px;
	font-weight: 700
}

.im-personcard-shopbtn {
	position: absolute;
	right: 16px;
	top: 16px;
	height: 18px;
	padding: 2px 5px;
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	line-height: 18px
}

.im-personcard-shopbtn:hover {
	opacity: .8;
	text-decoration: none
}

.im-personcard-bottom table {
	width: 100%;
	height: 12px;
	margin-top: 16px
}

.im-personcard-bottom td {
	width: 33%;
	height: 12px;
	border-right: 1px solid #cbcbcb;
	color: #333;
	font-size: 12px;
	line-height: 12px;
	text-align: center
}

.im-personcard-bottom td:last-child {
	border-right: none
}

.lianjiaim-createtalk {
	display: inline-block !important;
	width: 16px;
	height: 16px;
	background: url("../img/imgV2/lianjiaim-talk.png") 0 0 no-repeat;
	background: -webkit-image-set(url("../img/imgV2/lianjiaim-talk.png") 1x,
		url("../img/imgV2/lianjiaim-talk@2x.png") 2x) no-repeat;
	padding: 0 !important;
	margin: 0 4px !important;
	vertical-align: middle !important;
	cursor: pointer !important
}

.lianjiaim-createtalkAll {
	display: inline-block !important;
	width: 76px;
	height: 20px;
	background: url("../img/imgV2/lianjiaim-talk01.png") 0 0 no-repeat;
	background: -webkit-image-set(url("../img/imgV2/lianjiaim-talk01.png") 1x,
		url("../img/imgV2/lianjiaim-talk01@2x.png") 2x) no-repeat;
	padding: 0 !important;
	margin: 0 4px !important;
	vertical-align: middle !important;
	cursor: pointer !important
}

.lianjiaim-createtalkOld {
	display: inline-block !important;
	width: 52px;
	height: 20px;
	background: url("../img/imgV2/lianjiaim-talk02.png") 0 0 no-repeat;
	background: -webkit-image-set(url("../img/imgV2/lianjiaim-talk02.png") 1x,
		url("../img/imgV2/lianjiaim-talk02@2x.png") 2x) no-repeat;
	padding: 0 !important;
	margin: 0 4px !important;
	vertical-align: middle !important;
	cursor: pointer !important
}