::selection {
	background-color: rgba(13, 173, 81, 0.2);
	color: #333
}

::-moz-selection {
	background-color: rgba(13, 173, 81, 0.2);
	color: #333
}

::-webkit-selection {
	background-color: rgba(13, 173, 81, 0.2);
	color: #333
}

.dy {
	position: relative;
	top: 5px;
	display: inline-block;
	margin-right: 2px
}

.dy.no_f {
	top: 0
}

.dy.up_f {
	top: -4px
}

.dy .dy_tag {
	max-width: 52px !important;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 17px;
	line-height: 17px;
	text-align: center;
	border-radius: 2px;
	color: #9399a5 !important;
	background-color: #eff0f2;
	font-size: 11px;
	display: inline-block;
	margin-left: 4px !important
}

.dy .dy_tag.lj_tag {
	background-color: #00ae66;
	margin: 0 !important
}

.dy .dy_desc {
	display: none;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 157px;
	line-height: 16px;
	padding: 12px;
	box-sizing: border-box;
	font-size: 12px;
	color: #394043;
	position: absolute !important;
	top: 8px;
	left: 11px;
	z-index: 2;
	text-align: left;
	white-space: pre-wrap
}

.dy:hover .dy_desc {
	display: block
}

.dy .xiaowenhao {
	background-image: url('/feroot/pc/asset/img/xiaowenhao.png');
	display: inline-block;
	margin-left: 4px;
	width: 16px;
	height: 16px;
	background-size: 100% 100%;
	margin-right: 4px;
	position: relative;
	top: -1px
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :192dpi)
	{
	.dy .xiaowenhao {
		background-image: url('/feroot/pc/asset/img/xiaowenhao@2x.png')
	}
}

.city-change {
	width: 640px;
	height: 440px;
	background: #ffffff;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	position: fixed;
	z-index: 999;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	padding-bottom: 20px
}

.city-change .close {
	cursor: pointer;
	display: inline-block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	position: absolute;
	right: -15px;
	top: -15px;
	background: url(../../img/www/close-fc.png);
	background: -webkit-image-set(url(../../img/www/close-fc.png) 1x,
		url(../../img/www/close-fc@2x.png) 2x);
	background-repeat: no-repeat
}

.city-change .fc-main {
	padding: 0 40px;
	height: 335px;
	overflow-y: auto
}

.city-change .fc-main .citys-l {
	width: 50%;
	height: 100%
}

.city-change .fc-main .citys-r {
	width: 50%;
	height: 100%
}

.city-change .fc-main ul {
	display: inline-block
}

.city-change .fc-main li {
	line-height: 41px
}

.city-change .fc-main li .code-title {
	display: inline-block;
	width: 12px;
	margin-right: 10px;
	color: #999999
}

.city-change .fc-main li .city-enum {
	height: 100%;
	max-width: 245px
}

.city-change .fc-main li .city-enum a {
	margin-left: 7px;
	display: inline-block;
	color: #333333
}

.city-change .fc-main li .city-enum a:hover {
	color: #00b064
}

.city-change .title-line {
	width: 590px;
	height: 1px;
	background-color: #eeeeee;
	margin: 0 auto;
	margin-bottom: 25px;
	margin-top: 10px
}

.city-change .title {
	text-align: left;
	margin: 30px 40px 0 40px;
	font-size: 22px;
	color: #394043;
	font-weight: bold;
	position: relative
}

.city-change .title .city-tab {
	display: inline-block;
	float: right
}

.city-change .title .city-tab span {
	font-size: 14px;
	font-weight: normal;
	display: inline-block;
	margin-right: 9px;
	color: #999999
}

.city-change .title .city-tab a {
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
	color: #394043
}

.city-change .title .city-tab a:hover {
	color: #00b064
}

.header {
	background: #161616 url(../images/bannerV2.jpg) no-repeat;
	width: 100%;
	height: 610px;
	padding-top: 30px;
	background-attachment: fixed;
	background-position: center 0;
	display: block;
	position: relative
}

.header .city-change2 {
	width: 590px;
	background: #f9f9f9;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	position: fixed;
	z-index: 999;
	left: 50%;
	top: 50%;
	overflow: hidden;
	margin-left: -315px;
	margin-top: -265px;
	display: none;
	padding-bottom: 20px
}

.header .city-change2 .title {
	height: 65px;
	text-align: center;
	line-height: 65px;
	font-size: 20px;
	color: #fff;
	background: #39ac6a;
	position: relative
}

.header .city-change2 .title .close {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-position: -537px -20px;
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	right: 20px;
	top: 18px;
	cursor: pointer
}

.header .city-change2 li {
	float: left
}

.header .city-change2 li a {
	width: 170px;
	height: 55px;
	line-height: 55px;
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
	text-align: center;
	background: #fff;
	font-size: 16px;
	color: #222;
	border-radius: 2px;
	position: relative
}

.header .city-change2 li a.check {
	background: #444;
	color: #fff
}

.header .city-change2 li a.check i {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-position: -505px -20px;
	width: 22px;
	height: 22px;
	display: block;
	position: absolute;
	left: 20px;
	top: 17px
}

.header .exchange {
	background: rgba(0, 0, 0, 0.25);
	display: inline-block;
	height: 27px;
	line-height: 27px;
	text-align: center;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 15px;
	padding: 0 10px;
	font-size: 12px
}

.header .exchange i {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -189px -20px;
	width: 10px;
	height: 12px;
	display: inline-block;
	position: relative;
	margin-right: 5px;
	top: 1px
}

.header .fr {
	margin-top: -6px
}

.header .fr a,.header .fr span {
	color: #fff;
	text-decoration: none;
	font-size: 12px
}

.header .fr .nav {
	float: left;
	position: relative
}

.header .fr .nav .typeShowUser {
	float: right;
	text-align: right;
	height: 20px
}

.header .fr .nav .typeShowUser span.login_bubble_tip {
	background: #e2655c;
	font-size: .875em;
	padding: 1px 3px;
	margin-left: 5px
}

.header .fr .nav .typeShowUser span a {
	margin-left: 5px
}

.header .fr .nav .typeShowUser i {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -203px -20px;
	width: 17px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 3px
}

.header .fr .nav ul { *
	zoom: 1;
	text-align: right;
	padding-top: 26px;
	position: relative
}

.header .fr .nav ul:before,.header .fr .nav ul:after {
	display: table;
	content: ""
}

.header .fr .nav ul:after {
	clear: both
}

.header .fr .nav ul li {
	float: left;
	position: relative
}

.header .fr .nav ul li .ico-jn {
	position: absolute;
	right: -2px;
	top: -9px;
	width: 20px;
	height: 11px
}

.header .fr .nav ul li .icon-lvju {
	position: relative;
	top: -4px;
	margin-left: 20px;
	margin-right: -18px;
	width: 19px;
	height: 22px
}

.header .fr .nav ul li.hover:hover .nav-list {
	opacity: 1;
	filter: alpha(opacity = 100);
	display: block \9;
	pointer-events: auto;
	-webkit-transform: translateY(0) scale(1);
	-moz-transform: translateY(0) scale(1);
	-ms-transform: translateY(0) scale(1);
	-o-transform: translateY(0) scale(1);
	transform: translateY(0) scale(1)
}

.header .fr .nav ul li.hover .nav-list {
	width: 100px;
	position: absolute;
	height: 40px;
	top: 18px;
	left: 50%;
	z-index: 99;
	margin-left: -30px;
	filter: alpha(opacity = 0);
	display: none \9;
	opacity: 0;
	-webkit-transition: all 500ms cubic-bezier(.34, 1.21, .4, 1);
	-moz-transition: all 500ms cubic-bezier(.34, 1.21, .4, 1);
	transition: all 500ms cubic-bezier(.34, 1.21, .4, 1);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: translateY(0) scale(0);
	-moz-transform: translateY(0) scale(0);
	-ms-transform: translateY(0) scale(0);
	-o-transform: translateY(0) scale(0);
	transform: translateY(0) scale(0)
}

.header .fr .nav ul li.hover dd {
	position: absolute;
	margin-top: 13px;
	background: #f9f9f9;
	border-radius: 2px;
	width: 124px;
	left: -25px;
	padding: 10px 0;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)
}

.header .fr .nav ul li.hover dd img {
	width: 100px;
	height: 100px;
	float: left;
	margin: 2px 0 2px 12px
}

.header .fr .nav ul li.hover dd i {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: 53px;
	top: -10px
}

.header .fr .nav ul li.hover dd dl {
	height: 30px;
	line-height: 30px
}

.header .fr .nav ul li.hover dd dl a {
	color: #333;
	float: left;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-ms-text-shadow: none;
	text-shadow: none;
	font-size: 14px
}

.header .fr .nav ul li a {
	font-size: 16px;
	margin-left: 20px;
	font-weight: 700;
	-webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-moz-text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-ms-text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.header .fr .nav ul li.real i {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-position: -225px -20px;
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	width: 7px;
	height: 10px;
	display: inline-block;
	margin-left: 15px;
	margin-right: 10px
}

.header .fr .nav ul li.real a {
	margin-left: 0
}

.header .fr .nav .ti-hover {
	position: absolute;
	z-index: 99;
	right: 0;
	height: 30px
}

.header .fr .nav .ti-hover:hover .user-news ul {
	opacity: 1;
	filter: alpha(opacity = 100);
	display: block \9;
	pointer-events: auto;
	-webkit-transform: translateY(0) scale(1);
	-moz-transform: translateY(0) scale(1);
	-ms-transform: translateY(0) scale(1);
	-o-transform: translateY(0) scale(1);
	transform: translateY(0) scale(1)
}

.header .fr .nav .user-news {
	position: absolute;
	right: 35px;
	top: 0;
	color: #fff;
	cursor: pointer
}

.header .fr .nav .user-news i {
	display: inline-block;
	background: #e2655c;
	font-size: .875em;
	text-align: center;
	height: 11px;
	line-height: 11px;
	padding: 1px
}

.header .fr .nav .user-news .userNewsTriangle {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: 53px;
	top: -10px
}

.header .fr .nav .user-news ul {
	width: 188px;
	background: #fff;
	border-radius: 2px;
	padding-top: 0;
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -110px;
	filter: alpha(opacity = 0);
	display: none \9;
	opacity: 0;
	-webkit-transition: all 500ms cubic-bezier(.34, 1.21, .4, 1);
	-moz-transition: all 500ms cubic-bezier(.34, 1.21, .4, 1);
	transition: all 500ms cubic-bezier(.34, 1.21, .4, 1);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: translateY(0) scale(0);
	-moz-transform: translateY(0) scale(0);
	-ms-transform: translateY(0) scale(0);
	-o-transform: translateY(0) scale(0);
	transform: translateY(0) scale(0);
	padding: 10px 0
}

.header .fr .nav .user-news ul li {
	clear: both;
	color: #999;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	width: 178px
}

.header .fr .nav .user-news ul li a {
	color: #999;
	font-size: 12px;
	text-shadow: none;
	font-weight: normal;
	margin-left: 0
}

.header .fr .nav .user-news ul li a .unreadNumber {
	display: inline-block;
	font-size: .875em;
	text-align: center;
	height: 11px;
	line-height: 11px;
	padding: 1px;
	color: #f46a1f;
	font-weight: 700;
	margin: 0 3px
}

.header .fr .nav .user-news ul li.s-li {
	height: 0;
	position: relative;
	left: 25px;
	top: -10px
}

.header .header-wrap .search-box-wrap {
	margin: -14px auto 0 auto;
	width: 812px;
	height: 127px;
	position: relative
}

.header .header-wrap .search-box-wrap .search-box-con {
	padding: 20px;
	position: relative
}

.header .header-wrap .search-box-wrap .search-box-con .menu {
	float: left
}

.header .header-wrap .search-box-wrap .search-box-con .menu i {
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	width: 0;
	height: 0;
	-webkit-transition: all ease-in-out .3s;
	-o-transition: all ease-in-out .3s;
	-moz-transition: all ease-in-out .3s;
	-ms-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	position: absolute;
	top: 55px;
	left: 40px;
	border-bottom: 10px solid #fff;
	z-index: 9
}

.header .header-wrap .search-box-wrap .search-box-con .menu li {
	float: left;
	opacity: .5;
	filter: alpha(opacity = 50);
	height: 43px
}

.header .header-wrap .search-box-wrap .search-box-con .menu li:hover {
	opacity: .7;
	filter: alpha(opacity = 70)
}

.header .header-wrap .search-box-wrap .search-box-con .menu li.check {
	opacity: 1;
	filter: alpha(opacity = 100)
}

.header .header-wrap .search-box-wrap .search-box-con .menu li span {
	text-shadow: 1px 0 5px rgba(0, 0, 0, 0.2)
}

.header .header-wrap .search-box-wrap .search-box-con .menu li a,.header .header-wrap .search-box-wrap .search-box-con .menu li span
	{
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	padding: 0 20px 0 0;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	cursor: pointer
}

.header .header-wrap .search-box-wrap .search-box-con .search {
	clear: both;
	position: relative
}

.header .header-wrap .search-box-wrap .search-box-con .search .box {
	background: #fff;
	border-radius: 2px;
	clear: both;
	height: 55px;
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2)
}

.header .header-wrap .search-box-wrap .search-box-con .search .box01 {
	background: #fff;
	border-radius: 2px;
	clear: both;
	height: 55px;
	width: 645px;
	float: left
}

.header .header-wrap .search-box-wrap .search-box-con .search .box01 .text
	{
	width: 582px
}

.header .header-wrap .search-box-wrap .search-box-con .search .box01 ul
	{
	width: 645px
}

.header .header-wrap .search-box-wrap .search-box-con .search .suggest-wrap
	{
	border: 1px solid #000;
	border-top: 0;
	left: -1px;
	display: none
}

.header .header-wrap .search-box-wrap .search-box-con .search .suggest-wrap .title
	{
	background: #f4f7f9;
	color: #849aae;
	height: 35px;
	line-height: 35px;
	padding-left: 20px
}

.header .header-wrap .search-box-wrap .search-box-con .search .ditu {
	float: right
}

.header .header-wrap .search-box-wrap .search-box-con .search .ditu img
	{
	width: 107px;
	height: 49px
}

.header .header-wrap .search-box-wrap .search-box-con .search form {
	height: 55px
}

.header .header-wrap .search-box-wrap .search-box-con .search .text {
	width: 626px;
	padding-left: 20px;
	border: 0;
	height: 55px;
	line-height: 55px;
	border-radius: 2px;
	font-size: 14px
}

.header .header-wrap .search-box-wrap .search-box-con .search .btn {
	background: #00ae66;
	width: 127px;
	height: 55px;
	float: right;
	border: 0;
	display: block;
	border-radius: 0 2px 2px 0;
	position: absolute;
	right: -1px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.header .header-wrap .search-box-wrap .search-box-con .search .btn:hover
	{
	background: #00b86b
}

.header .header-wrap .search-box-wrap .search-box-con .search .sug-tips
	{
	clear: both;
	width: auto;
	margin-top: 1px
}

.header .header-wrap .search-box-wrap .search-box-con .search .sug-tips ul
	{
	width: 646px;
	display: none;
	background: #fff;
	border: 1px solid #000;
	border-top: 0;
	position: relative;
	left: -1px;
	top: -1px;
	z-index: 1002
}

.header .header-wrap .search-box-wrap .search-box-con .search .sug-tips ul.bordernone
	{
	border: 0
}

.header .header-wrap .search-box-wrap .search-box-con .search .sug-tips01 ul
	{
	width: 600px
}

.header .header-wrap .search-box-wrap .search-box-con .search .sug-tips li
	{
	height: 35px;
	line-height: 35px;
	padding: 3px 20px
}

.header .header-wrap .search-box-wrap .search-box-con .search .sug-tips li.hot-name
	{
	background: #f4f7f9;
	color: #849aae
}

.header .header-wrap .search-box-wrap .search-box-con .search .sug-tips li.hot-name:hover
	{
	background: #f4f7f9
}

.header .header-wrap .search-box-wrap .search-box-con .search .sug-tips li.hot-name .del
	{
	display: none;
	text-align: right;
	cursor: pointer;
	opacity: .5;
	filter: alpha(opacity = 50);
	float: right
}

.header .header-wrap .search-box-wrap .search-box-con .search .sug-tips li:hover
	{
	background: #f9f9f9
}

.header .header-wrap .search-box-wrap .search-box-con .search .sug-tips li a
	{
	color: #333;
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
	display: block;
	width: 100%
}

.logo {
	margin-right: 10px;
	margin-top: -5px;
	width: 137px;
	height: 66px;
	display: inline-block;
	float: left;
	background-image: url(../images/spriteV2_new.png?index=20170526);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?index=20170526) 1x
		, url(../images/spriteV2_new@2x.png?index=20170526) 2x);
	background-position: 10px -365px
}

@font-face {
	font-family: 'DINCond-Bold';
	src: url('../../../../dep/lj-web-font/DINCond-Bold.eot');
	src: url('../../../../dep/lj-web-font/DINCond-Bold.eot?#iefix')
		format('embedded-opentype'),
		url('../../../../dep/lj-web-font/DINCond-Bold.woff') format('woff'),
		url('../../../../dep/lj-web-font/DINCond-Bold.ttf') format('truetype')
		;
	font-weight: normal;
	font-style: normal
}

@
-webkit-keyframes hvr-bob { 0%{
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px)
}

50%{
-webkit-transform
:translateY
(-4px);transform
:translateY
(-4px)
}
100%{
-webkit-transform
:translateY
(-8px);transform
:translateY
(-8px)
}
}
@
keyframes hvr-bob { 0%{
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px)
}

50%{
-webkit-transform
:translateY
(-4px);transform
:translateY
(-4px)
}
100%{
-webkit-transform
:translateY
(-8px);transform
:translateY
(-8px)
}
}
@
-webkit-keyframes hvr-bob-float { 100%{
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px)
}

}
@
keyframes hvr-bob-float { 100%{
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px)
}

}
body {
	min-width: 1150px
}

.wrapper {
	width: 1150px
}

.wrap-ico {
	margin: 120px auto 0 auto;
	text-align: center;
	background-image: url(../images/banner-text.png?_v=20170317);
	background-image: -webkit-image-set(url("../images/banner-text.png?_v=20170317") 1x,
		url("../images/banner-text@2x.png?_v=20170317") 2x);
	background-repeat: no-repeat;
	height: 69px;
	width: 540px
}

.house-num {
	text-align: center;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 4px;
	height: 35px;
	line-height: 35px;
	overflow: hidden
}

.house-num ul {
	position: relative;
	height: 35px;
	overflow: hidden
}

.wrap-video {
	margin: 20px auto 0;
	position: absolute;
	bottom: 34px;
	color: #FFF;
	cursor: pointer;
	margin-right: 10px;
	font-size: 12px
}

.wrap-video a {
	color: #fff
}

.wrap-video a:hover {
	text-decoration: none
}

.wrap-video div {
	float: left;
	margin-right: 25px;
	opacity: .8;
	filter: alpha(opacity = 80)
}

.wrap-video div:hover {
	opacity: 1;
	filter: alpha(opacity = 100)
}

.wrap-video img {
	position: relative;
	left: 0;
	top: 1px;
	height: 16px;
	margin-right: 7px
}

.wrap-video:hover {
	text-decoration: underline
}

.app {
	width: 100%;
	height: 66px;
	background: #39ac6a;
	margin-bottom: 53px
}

.app .download {
	background: #fff;
	width: 118px;
	height: 42px;
	line-height: 42px;
	float: right;
	text-align: center;
	border-radius: 2px;
	margin-top: 11px
}

.app .download a {
	color: #39ac6a;
	font-size: 16px;
	font-weight: 700
}

.app .download a:hover {
	text-decoration: none
}

.home-nav {
	width: 1150px;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 50px;
	text-align: center
}

.home-nav ul { *
	zoom: 1
}

.home-nav ul:before,.home-nav ul:after {
	display: table;
	content: ""
}

.home-nav ul:after {
	clear: both
}

.home-nav ul.count-1 li {
	width: 20%
}

.home-nav ul.count-2 li {
	width: 50%
}

.home-nav ul.count-3 li {
	width: 33%
}

.home-nav ul.count-4 li {
	width: 25%
}

.home-nav ul.count-5 li {
	width: 20%
}

.home-nav li {
	float: left
}

.home-nav li a {
	display: block
}

.home-nav li a:hover {
	text-decoration: none
}

.home-nav li a:hover img,.home-nav li a:focus img,.home-nav li a:active img
	{
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate
}

.home-nav li p {
	width: 183px;
	margin: 3px auto 5px auto;
	font-size: 12px;
	color: #b0b3b4;
	line-height: 18px
}

.home-nav li b {
	font-size: 18px;
	color: #394043
}

.home-nav li img {
	width: 76px;
	height: 65px;
	margin: 0 auto 17px auto;
	display: block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale
}

.data {
	background: url(../images/dataV2.jpg) no-repeat center top;
	width: 100%;
	height: 435px;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	padding-top: 60px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.data .main {
	width: 810px;
	margin: 0 auto;
	text-align: center
}

.data .main .title {
	color: #fff;
	font-size: 20px;
	margin-bottom: 35px;
	font-weight: 700
}

.data .main span {
	font-family: DINCond-Bold;
	font-size: 50px;
	color: #fff;
	position: relative;
	font-weight: 700
}

.data .main span a {
	color: #fff
}

.data .main span a:hover {
	text-decoration: none
}

.data .main span label {
	cursor: pointer;
	font-size: 60px;
	font-weight: 400
}

.data .main span i {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	right: -20px;
	top: 4px
}

.data .main span i.down {
	background-position: -340px -20px
}

.data .main span i.up {
	background-position: -323px -20px
}

.data .main p {
	font-size: 14px;
	color: #fff;
	padding-top: 5px;
	opacity: .3;
	filter: alpha(opacity = 30)
}

.data .main .data-price {
	width: 500px;
	margin: 0 auto;
	height: 93px;
	overflow: hidden
}

.data .main .deal-price {
	width: 220px;
	float: left;
	text-align: center
}

.data .main .listing-price {
	width: 220px;
	float: right;
	text-align: center
}

.data .main li {
	float: left;
	width: 246px;
	height: 109px;
	margin-right: 35px;
	margin-top: 50px;
	position: relative;
	padding-top: 35px;
	cursor: pointer
}

.data .main li a {
	text-decoration: none
}

.data .main li span label {
	font-size: 34px
}

.data .main li.last {
	margin-right: 0
}

.data .main li:hover .bg {
	background: #4285f4;
	filter: alpha(opacity = 100);
	opacity: 1
}

.data .main li .bg {
	background: #fff;
	filter: alpha(opacity = 14);
	opacity: .14;
	width: 247px;
	height: 139px;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.data .main li span {
	font-size: 34px
}

.data .main li span i {
	width: 8px;
	height: 12px;
	top: 9px;
	right: -13px
}

.data .main li span i.down {
	background-position: -603px -20px
}

.data .main li span i.up {
	background-position: -618px -20px
}

.data .main li p {
	position: relative;
	z-index: 99;
	font-size: 14px;
	filter: alpha(opacity = 1);
	opacity: 100
}

.news {
	background: #f2f2f3;
	padding: 24px 0 50px 0
}

.news .name {
	font-size: 14px;
	color: #b0b3b4;
	margin-bottom: 10px
}

.news .tag {
	color: #fff;
	font-size: 14px;
	padding: 6px 11px;
	position: absolute;
	left: 20px;
	top: 0
}

.news .tagxinfang {
	background: #4285f4
}

.news .tagershoufang {
	background: #00ae66
}

.news .newhouse {
	background: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.news .newhouse:hover {
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1)
}

.news .newhouse .topPic {
	width: 425px;
	height: 234px;
	position: relative;
	padding-bottom: 35px
}

.news .newhouse .topPic img {
	width: 425px;
	height: 234px
}

.news .newhouse .topPic .title {
	position: absolute;
	left: -10px;
	background: #394043;
	color: #fff;
	font-size: 20px;
	bottom: 54px;
	height: 43px;
	line-height: 43px;
	padding: 0 12px
}

.news .newhouse .topPic .title span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 411px;
	display: inline-block
}

.news .newhouse .topPic .title i {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -360px -20px;
	width: 10px;
	height: 8px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: -8px
}

.news .newhouse ul {
	width: 345px;
	margin: 0 auto;
	padding-bottom: 28px
}

.news .newhouse ul li {
	line-height: 30px;
	height: 30px;
	width: 345px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.news .newhouse ul li a {
	color: #394043;
	font-size: 14px
}

.news .newhouse ul li a i {
	width: 31px;
	height: 18px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	font-size: 12px;
	background: #efeff0;
	line-height: 18px;
	position: relative;
	top: 5px;
	text-align: center
}

.news .newhouse ul li a i.tagsxinfang {
	background-position: -431px -20px
}

.news .newhouse ul li a i.tagsershoufang {
	background-position: -466px -20px
}

.news .newcun {
	background: #fff;
	width: 690px;
	height: 161px;
	position: relative;
	margin-bottom: 20px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.news .newcun:hover {
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1)
}

.news .newcun a:hover {
	text-decoration: none
}

.news .newcun img {
	width: 257px;
	height: 161px;
	margin-right: 40px
}

.news .newcun p {
	width: 350px;
	font-size: 12px;
	color: #888c8e;
	line-height: 18px;
	max-height: 36px;
	margin-top: 8px;
	position: relative;
	overflow: hidden
}

.news .newcun b {
	font-size: 18px;
	color: #394043;
	margin-top: 39px;
	display: block;
	line-height: 22px;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	max-height: 44px
}

.news .newcun .cun {
	width: 350px
}

.news .baike {
	background: #fff;
	width: 644px;
	height: 55px;
	line-height: 55px;
	overflow: hidden;
	color: #394043;
	padding: 0 23px;
	position: relative;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.news .baike:hover {
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1)
}

.news .baike ul {
	position: relative
}

.news .baike a {
	color: #394043;
	text-decoration: none;
	display: block;
	width: 644px
}

.news .baike span {
	color: #888c8e
}

.news .baike i {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	width: 9px;
	height: 18px;
	display: inline-block;
	background-position: -312px -20px;
	position: absolute;
	top: 20px;
	right: 18px
}

.hand-lianjia {
	padding-top: 45px;
	background: url(../images/bg-app.jpg) center top;
	height: 479px
}

.hand-lianjia .fl {
	width: 479px;
	padding-top: 40px
}

.hand-lianjia .fl .titles {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -448px -379px;
	width: 286px;
	height: 118px
}

.hand-lianjia .fl p {
	line-height: 22px;
	margin-top: 22px
}

.hand-lianjia .fl span {
	color: #999;
	font-size: 12px;
	display: block;
	margin-top: 15px
}

.hand-lianjia .fl .download {
	width: 479px;
	margin-top: 38px;
	position: relative
}

.hand-lianjia .fl .download .hand-app {
	float: left;
	width: 134px;
	margin-right: 14px
}

.hand-lianjia .fl .download .hand-app a {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	display: inline-block;
	width: 134px;
	height: 44px
}

.hand-lianjia .fl .download .hand-app a.ios {
	background-position: -20px -139px
}

.hand-lianjia .fl .download .hand-app a.ios:hover {
	background-position: -168px -139px
}

.hand-lianjia .fl .download .hand-app a.ios:active {
	background-position: -316px -139px
}

.hand-lianjia .fl .download .hand-app a.android {
	margin-top: 8px;
	background-position: -20px -197px
}

.hand-lianjia .fl .download .hand-app a.android:hover {
	background-position: -168px -197px
}

.hand-lianjia .fl .download .hand-app a.android:active {
	background-position: -316px -197px
}

.hand-lianjia .fl .download .erweima {
	float: left;
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -464px -139px;
	width: 102px;
	height: 102px
}

.hand-lianjia .fl .download .video-img-btn {
	cursor: pointer;
	position: relative;
	float: left;
	margin-left: 14px;
	width: 109px;
	height: 109px
}

.hand-lianjia .fl .download .video-img-btn .video-img-btn-bg {
	width: 109px;
	height: 109px;
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -580px -139px
}

.hand-lianjia .fl .download .video-img-btn .video-btn-normal {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -18px;
	margin-top: -17px;
	opacity: .7;
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -374px -20px;
	width: 29px;
	height: 29px
}

.xiaoqu-list {
	width: 100%;
	height: 450px;
	clear: both;
	padding-top: 50px;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #eeeef1
}

.xiaoqu-list .name {
	background-image:
		url(../images/xiaoqu-recom.png?t=2017052520523424);
	width: 187px;
	height: 28px;
	background-size: 100%
}

.xiaoqu-list p {
	color: #888;
	margin-top: 10px;
	width: 1150px
}

.xiaoqu-list p a {
	color: #394043;
	margin-left: 20px;
	float: right
}

.xiaoqu-list .fr span {
	display: inline-block;
	width: 56px;
	height: 56px;
	margin-left: 10px
}

.xiaoqu-list .fr span.goleft {
	background-position: -336px -255px
}

.xiaoqu-list .fr span.leftend {
	background-position: -477px -255px
}

.xiaoqu-list .fr span.goright {
	background-position: -403px -255px
}

.xiaoqu-list .fr span.rightend {
	background-position: -545px -255px
}

.xiaoqu-list .xiaoqu-list {
	clear: both;
	top: 41px;
	width: 1158px;
	overflow: hidden;
	height: 270px;
	left: -8px;
	position: relative
}

.xiaoqu-list .xiaoqu-list ul {
	position: absolute;
	width: 25000px;
	top: 0;
	left: 8px
}

.xiaoqu-list .xiaoqu-list li a {
	width: 350px;
	position: relative;
	float: left;
	margin-right: 50px;
	overflow: hidden;
	display: block;
	text-decoration: none;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)
}

.xiaoqu-list .xiaoqu-list li a:hover img {
	webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	transform: scale(1.03)
}

.xiaoqu-list .xiaoqu-list li a img {
	width: 350px;
	height: 200px;
	-webkit-transition: .7s ease-in-out;
	-moz-transition: .7s ease-in-out;
	-ms-transition: .7s ease-in-out;
	-o-transition: .7s ease-in-out;
	transition: .7s ease-in-out
}

.xiaoqu-list .xiaoqu-list li a .title {
	height: 84px;
	background: #fff;
	position: relative;
	padding: 0 20px
}

.xiaoqu-list .xiaoqu-list li a .title .resblock-name {
	color: #394043;
	font-size: 19px;
	font-weight: bold;
	padding-top: 20px;
	line-height: 1;
	margin-bottom: 10px
}

.xiaoqu-list .xiaoqu-list li a .title .resblock-desc {
	color: #394043;
	font-size: 14px;
	font-weight: bold;
	line-height: 1
}

.xiaoqu-list .xiaoqu-list li a .title .resblock-desc .resblock-year {
	float: right;
	color: #888c8e;
	font-size: 12px
}

.new-house {
	width: 100%;
	height: 422px;
	clear: both;
	padding-top: 50px;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.new-house .name {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -20px -56px;
	width: 158px;
	height: 30px
}

.new-house p {
	color: #888;
	margin-top: 10px;
	width: 1150px
}

.new-house p a {
	color: #394043;
	margin-left: 20px;
	float: right
}

.new-house .fr span {
	display: inline-block;
	width: 56px;
	height: 56px;
	margin-left: 10px
}

.new-house .fr span.goleft {
	background-position: -336px -255px
}

.new-house .fr span.leftend {
	background-position: -477px -255px
}

.new-house .fr span.goright {
	background-position: -403px -255px
}

.new-house .fr span.rightend {
	background-position: -545px -255px
}

.new-house .newhose-list {
	clear: both;
	top: 41px;
	width: 1158px;
	overflow: hidden;
	height: 310px;
	left: -8px;
	position: relative
}

.new-house .newhose-list ul {
	position: absolute;
	width: 25000px;
	top: 0;
	left: 8px
}

.new-house .newhose-list li a {
	width: 350px;
	height: 260px;
	position: relative;
	float: left;
	margin-right: 50px;
	overflow: hidden;
	display: block
}

.new-house .newhose-list li a:hover img {
	webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	transform: scale(1.03)
}

.new-house .newhose-list li a img {
	width: 350px;
	height: 260px;
	-webkit-transition: .7s ease-in-out;
	-moz-transition: .7s ease-in-out;
	-ms-transition: .7s ease-in-out;
	-o-transition: .7s ease-in-out;
	transition: .7s ease-in-out
}

.new-house .newhose-list li a .bg {
	background: #000;
	opacity: .3;
	filter: alpha(opacity = 30);
	width: 350px;
	height: 260px;
	position: absolute;
	left: 0;
	bottom: 0
}

.new-house .newhose-list li a .price {
	position: relative;
	bottom: 54px;
	max-width: 182px;
	min-width: 110px;
	width: auto;
	font-weight: 700;
	height: 38px;
	font-size: 18px
}

.new-house .newhose-list li a .price span {
	background: #fff2ab;
	display: inline-block;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	color: #394043;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.new-house .newhose-list li a .title {
	font-size: 24px;
	color: #fff;
	position: absolute;
	bottom: 25px;
	width: 350px;
	font-weight: 700;
	height: 260px;
	left: 50%;
	top: 50%;
	margin-left: -175px;
	text-align: center;
	margin-top: -35px;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6)
}

.new-house .newhose-list li a .title span {
	color: #fff2ab;
	font-size: 17px;
	display: block;
	font-weight: normal
}

.new-house .newhose-list li a .title span label {
	font-weight: 700;
	color: #fff2ab;
	font-size: 20px;
	font-family: tahoma;
	position: relative;
	top: 1px
}

.new-house .newhose-list li a .title01 {
	position: absolute;
	bottom: -35px;
	font-size: 12px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 350px;
	color: #b0b3b4;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8)
}

.new-house .newhose-list li a .title01 span {
	display: block;
	float: left;
	max-width: 240px;
	white-space: nowrap;
	overflow: hidden;
	height: 20px;
	text-overflow: ellipsis
}

.ershoufang {
	clear: both
}

.ershoufang .wrapper {
	overflow: hidden;
	position: relative;
	padding: 50px 0 65px
}

.ershoufang .fl .name {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -19px -94px;
	width: 248px;
	height: 30px
}

.ershoufang .fl p {
	color: #888;
	margin-top: 10px;
	width: 1150px
}

.ershoufang .fl p a {
	color: #394043;
	margin-left: 20px;
	float: right
}

.ershoufang ul {
	margin-top: 30px;
	width: 2100px
}

.ershoufang li {
	position: relative;
	width: 265px;
	height: 323px;
	float: left;
	margin-right: 30px;
	border-radius: 4px;
	margin-bottom: 3px;
	overflow: hidden
}

.ershoufang li a {
	display: block
}

.ershoufang li a:hover {
	text-decoration: none
}

.ershoufang li img {
	width: 265px;
	height: 205px;
	margin-bottom: 10px;
	border-radius: 4px
}

.ershoufang li .price {
	position: absolute;
	padding: 0 8px;
	border-radius: 1px;
	height: 30px;
	background: #394043;
	font-size: 18px;
	text-align: center;
	top: 150px;
	line-height: 30px;
	color: #fff;
	left: 0
}

.ershoufang li .bottom p.p01 {
	font-size: 16px;
	color: #394043;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px 18px 0
}

.ershoufang li .bottom p.tips {
	color: #999;
	font-size: 12px
}

.ershoufang li .bottom p.tips span {
	margin-right: 8px
}

.ershoufang li .bottom p.position {
	font-family: HiraginoSansGB-W6;
	font-size: 18px;
	color: #101D37;
	letter-spacing: 0;
	line-height: 24px
}

.ershoufang li .tips {
	margin-top: 11px;
	position: relative
}

.ershoufang li .tips p {
	color: #aaa;
	font-size: 12px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 244px
}

.ershoufang li .tips .tips-price {
	position: absolute;
	right: 0;
	bottom: 0;
	font-family: HiraginoSansGB-W6;
	font-size: 16px;
	color: #FA5741;
	letter-spacing: 0
}

.ershoufang .vr_item {
	background-image: url(../../img/vr/vrlogo.png);
	background-size: 45px 45px;
	width: 45px;
	height: 45px;
	position: absolute;
	left: 50%;
	bottom: 60%;
	margin-left: -22.5px
}

.ershoufang .good_house_icon {
	position: absolute;
	right: 0;
	top: 0;
	width: 72px;
	height: 30px;
	background-image: url(../../img/good-house-icon.png?t=20190212114014);
	background-size: 100%
}

.s-truth {
	background: url(../images/truth-bgV2.jpg) no-repeat center top;
	width: 100%;
	height: 180px;
	padding-top: 60px
}

.s-truth .truth-txt {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -19px -254px;
	width: 501px;
	height: 115px;
	margin-top: 4px
}

.s-truth .truth-search {
	width: 550px;
	float: right
}

.s-truth .truth-search p {
	color: #fff;
	font-size: 16px;
	line-height: 25px
}

.s-truth .truth-search p.hasnot,.s-truth .truth-search p.phone {
	color: #000
}

.s-truth .truth-search .search-box {
	position: relative
}

.s-truth .truth-search .search-box .result-box {
	display: none;
	background: #f9f9f9;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	width: 304px;
	height: 81px;
	margin-left: 3px;
	margin-top: 15px;
	padding: 22px;
	position: absolute
}

.s-truth .truth-search .search-box .result-box i {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: 70px;
	top: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #f9f9f9
}

.s-truth .truth-search .search-box .result-box .cunn img {
	width: 100px;
	height: 78px
}

.s-truth .truth-search .search-box .result-box .cunn .fr {
	width: 160px
}

.s-truth .truth-search .search-box .result-box .cunn .fr p {
	color: #39ac6a;
	font-size: 18px
}

.s-truth .truth-search .search-box .result-box .cunn .fr span {
	font-size: 12px;
	color: #333;
	display: inline-block;
	margin-top: 3px
}

.s-truth .truth-search .search-box .result-box .cunn .fr span a {
	margin-top: 0;
	display: inline-block;
	margin-right: 8px
}

.s-truth .truth-search .search-box .result-box .cunn .fr a {
	display: block;
	margin-top: 9px;
	font-size: 12px;
	color: #38a1e1
}

.s-truth .truth-search .serach-inp {
	width: 531px;
	height: 29px;
	margin-top: 18px;
	padding: 7px 12px;
	background: #fff;
	line-height: 29px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(14, 5, 10, 0.25);
	-moz-box-shadow: 0 1px 3px rgba(14, 5, 10, 0.25);
	box-shadow: 0 1px 3px rgba(14, 5, 10, 0.25)
}

.s-truth .truth-search .serach-inp input {
	border: 0;
	height: 28px
}

.s-truth .truth-search .serach-inp input.tex {
	width: 495px;
	font-size: 14px
}

.s-truth .truth-search .serach-inp .sub {
	background-image:
		url(../images/spriteV2_new.png?t=2017052520523424);
	background-image: -webkit-image-set(url(../images/spriteV2_new.png?t=2017052520523424)
		1x, url(../images/spriteV2_new@2x.png?t=2017052520523424) 2x);
	background-position: -407px -20px;
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-top: 5px;
	float: right;
	cursor: pointer
}

.trust {
	padding-top: 50px;
	clear: both;
	height: 175px
}

.trust ul {
	display: table;
	width: 100%
}

.trust li {
	display: table-cell;
	text-align: center
}

.trust li p {
	font-size: 20px;
	color: #394043;
	margin-top: 16px
}

.trust li label {
	font-size: 12px;
	color: #b0b3b4;
	margin-top: 3px;
	display: block
}

.trust li a {
	border-radius: 2px;
	width: 100px;
	height: 33px;
	display: block;
	text-align: center;
	line-height: 33px;
	margin: 20px auto 0 auto;
	color: #616669;
	background: #f7f7f7;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.trust li a:hover {
	text-decoration: none;
	background: #f3f3f3;
	color: #394043
}

.trust li span {
	display: block;
	margin: 0 auto;
	width: 42px;
	height: 44px
}

.trust li span img {
	width: 42px;
	height: 44px
}

.overlayBg {
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: .6;
	filter: alpha(opacity = 60);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none
}

.old-browser-popup {
	background: #333;
	font-size: 16px;
	height: 60px;
	line-height: 60px;
	width: 100%;
	color: #999;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999
}

.old-browser-popup a {
	color: #fff3be
}

.old-browser-popup span {
	background: url(../../img/new-version/bg.png) -436px -178px no-repeat;
	width: 22px;
	height: 22px;
	float: right;
	display: block;
	position: relative;
	right: 20px;
	top: 18px;
	cursor: pointer;
	z-index: 9999
}

.old-browser-popup label {
	display: inline-block;
	width: 24px;
	height: 25px;
	position: relative;
	top: 5px;
	right: 6px
}

.old-browser-popup .chrome-borwser-ico {
	background: url(../../img/new-version/bg.png) -438px -208px no-repeat
}

.old-browser-popup .firefox-borwser-ico {
	background: url(../../img/new-version/bg.png) -472px -208px no-repeat
}

.erwei {
	width: 550px;
	height: 400px;
	background: url(../../img/erweima.jpg) no-repeat;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	position: fixed;
	z-index: 999;
	left: 50%;
	top: 50%;
	margin-left: -270px;
	margin-top: -200px
}

.erwei .close {
	background: url(../../img/erwei-close.png) no-repeat;
	width: 42px;
	height: 42px;
	display: block;
	position: absolute;
	right: -20px;
	top: -20px;
	cursor: pointer
}

.click-person {
	width: 115px;
	height: 148px;
	background: url(../../img/person.png) no-repeat;
	background-size: 100% 100%;
	position: fixed;
	left: -115px;
	bottom: 0;
	-webkit-transition: left .3s ease-in-out;
	-moz-transition: left .3s ease-in-out;
	transition: left .3s ease-in-out;
	cursor: pointer;
	z-index: 99
}

.click-person-show {
	left: 0
}

.savesearch {
	right: 130px;
	top: 19px;
	display: block;
	background: #fff;
	width: auto;
	padding-right: 30px
}

.savesearch span label {
	top: 7px
}

.savesearch .icon {
	top: 23px
}

.savesearch ul {
	top: 35px;
	width: 646px;
	right: -4px;
	border: none
}

.savesearch ul li.title {
	background: #f4f7f9;
	color: #849aae;
	font-weight: 400;
	border-bottom: 0;
	padding: 0 20px
}

.savesearch ul li.title a {
	float: right;
	color: #849aae
}

.savesearch ul li.list {
	margin: 0;
	max-height: 108px;
	overflow: hidden;
	height: auto;
	padding: 0 5px
}

.savesearch ul li .li {
	padding-left: 15px;
	border: none;
	height: 35px;
	line-height: 35px
}

.savesearch ul li .li a {
	font-size: 14px
}

.savesearch ul li .li:hover {
	background: #f9f9f9
}

.savesearch ul li .num {
	float: right;
	text-decoration: underline
}

.ui-autocomplete .ui-menu-item {
	padding: 3px 20px
}

.ui-autocomplete .ui-menu-item .sub-text {
	font-size: 14px;
	margin-left: 5px
}

.footer {
	margin-top: 0
}

.app_daoliu_layer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 130px;
	z-index: 1001;
	background-color: #fff;
	white-space: nowrap;
	box-shadow: 0 -3px 80px rgba(0, 0, 0, 0.08)
}

.app_daoliu_layer img {
	width: 100%
}

.app_daoliu_layer .app_content {
	text-align: center
}

.app_daoliu_layer .app_content .app_img {
	width: 190px;
	display: inline-block;
	position: relative;
	bottom: 50px;
	vertical-align: top
}

.app_daoliu_layer .app_content .app_desc_c {
	margin-left: 35px;
	display: inline-block;
	line-height: 1;
	vertical-align: top;
	text-align: left
}

.app_daoliu_layer .app_content .app_desc_c .app_title {
	margin-top: 40px;
	color: #394043;
	font-size: 20px;
	margin-bottom: 23px;
	font-weight: bold
}

.app_daoliu_layer .app_content .app_desc_c .app_desc {
	color: #9c9fa1;
	font-size: 13px;
	margin-top: 8px
}

.app_daoliu_layer .app_content .app_qr {
	display: inline-block;
	vertical-align: top;
	width: 88px;
	margin-top: 22px;
	margin-left: 63px
}

.app_daoliu_layer .app_content .app_down {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 22px
}

.app_daoliu_layer .app_content .app_down .btn {
	display: block;
	width: 107px;
	height: 40px;
	border-radius: 2px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	font-weight: bold
}

.app_daoliu_layer .app_content .app_down .btn:hover {
	text-decoration: none;
	out-line: none
}

.app_daoliu_layer .app_content .app_down .btn.btn_iphone {
	background-color: #394043;
	margin-top: 22px
}

.app_daoliu_layer .app_content .app_down .btn.btn_andriod {
	background-color: #00ae66;
	margin-top: 8px
}

.app_daoliu_layer .app_content .app_close {
	display: inline-block;
	vertical-align: top;
	margin-top: 22px;
	width: 15px;
	margin-left: 41px;
	cursor: pointer
}

.app_daoliu_layer_good_house {
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none
}

.app_daoliu_layer_good_house .app_content_goodhouse {
	width: 1150px;
	position: absolute;
	left: 50%;
	margin-left: -575px;
	top: 0;
	cursor: pointer
}

.app_daoliu_layer_good_house .app_content_goodhouse .app_close_good_house
	{
	position: absolute;
	width: 15px;
	height: 15px;
	top: 41px;
	right: 9px;
	background-color: rgba(0, 0, 0, 0)
}

@media only screen and (max-height:570px) {
	.app_daoliu_layer {
		display: none
	}
}