@charset "UTF-8"; 

.banner{
	
    height: 600px;
    width: 100%;
}
.login-new{
	padding: 40px 80px !important;
}
.login{
	
	    height: auto;
    overflow: auto;
    padding: 50px 0;
    text-align: left;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
/**	padding: 70px 80px;
    background-color: #fff;
   
    position: absolute;
    right:60%;
    top: 96px;
    border-radius: 2px;
    margin-right: -350px;*/
}

.login .bg {
    width: 530px;
    height: 350px;
    float: left;
    overflow: hidden;
}
body .active{
	background: url(../images/login_bottom.png) center bottom no-repeat;
	color: none !important;
	border-bottom: none !important;
}
.login-tab a{
	font-size: 14px;
	color: #3a3b3c;
	display: inline-block;
	width: 49%;
	
}
.unit-inp input{
	border-left: none;
	border-right:none;
	border-top: none;
	border-radius: 2px;
	width: 288px;
	height: 70px;
	border-color:#ededed;
	-webkit-box-shadow: 0 0 0 1000px white inset;
	margin-top: 10px;
}
input::-webkit-input-placeholder{
	color:#bababa;
}
input:-moz-placeholder{
	color:#bababa;
}
input::-moz-placeholder{
	color:#bababa;
}
input:-ms-input-placeholder{
	color:#bababa;
}
#forget_psw{
	text-decoration: none;
}
.unit-inp .inp-code{
	width: 288px;
	height: 60px;
}
.login-tab{
	width: 288px;
	height: 37px;
	margin-bottom: 0px;
	border-bottom: 1px solid #ededed;
}
.prompt input{
	border-color:#ededed;
}
.unit-inp .getCodee{
	width: 80px;
	height: 30px;
	border-radius: 2px;
	line-height: 30px;
	position: absolute;
	top: 24%;
	right: 0px;
}

.login-left{
	    float: left;
    padding-right: 80px;
    border: 1px #DEDEDE solid;
    background-color: #fbfbfb;
    padding: 40px;
}
.login-right{
	float: left;
	padding-left: 80px;
}
.center-box .btn-red{
	width: 288px;
	height: 45px;
}
body .unit-relative{
	position: relative;
	margin-top: 10px ;
}
.inp-code{
	margin-bottom: 8px;
}
.mt35{
	margin-top: 50px;
}
.unit-inp{
	margin-top: 0px;
}
.enter2{
	margin-top: 10px ;
}
.login-inp{
	margin-bottom: 0px;
}
.center-box .register{
	margin-top: 5px;
	margin-bottom: 19px;
}
#login_index_zhuce{
	display: inline-block;
	margin-top: 10px;
	text-decoration: none;
}
.unit-inp1 input{
	margin-top: 10px;
}
.unit-inp2 input{
	margin-top: 10px;	
}
.center-box .regg{
	margin-top: 100px;
}
.center-box-new{
	margin-top:30px !important;
}
.regg-new{
	margin-top: 150px !important;
}
.regg-new1{
	margin-top: 130px !important;
}
.center-box{
	margin-bottom: 0px;
} 
.login-bot-text{
	margin-top: 0px;
}
.login-bot-text a{
	color: #ee3843;
}
.input_checked { 
   width: 13px;
   margin-bottom: 3px;
} 
/*閫傞厤mac*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5), /* 娉ㄦ剰杩欓噷鐨勫啓娉曟瘮杈冪壒娈�*/
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
	.banner{
		background: url(../images/mac/login/login_banner2@3x.png) center center no-repeat ;
		background-size: cover;
	}
	body .active{
		background: url(../images/mac/login/login_bottom@3.png) center bottom no-repeat ;
		background-size:145px auto;
	}
}

/** 尾部**/
.footer {
	background: url(../images/footer-bg.jpg) no-repeat center top #222;
	clear: both;
	width: 100%;
	height: 146px;
}

.footer .wrapper {
	width: 1150px;
	    margin: 0 auto;
}

.footer .f-title {
	height: 75px;
	border-bottom: 1px solid #393939;
	line-height: 75px;
	margin: 0
}

.footer .f-title .fr {
	color: #7dcfa0
}

.footer .f-title .fl li {
	float: left
}

.footer .f-title .fl li.nav_f {
	position: relative;
	text-align: left
}

.footer .f-title .fl li.nav_f:hover .sitemap-quick {
	display: block
}

.footer .f-title .fl li.nav_f .sitemap-quick {
	display: none;
	width: 200px;
	position: absolute;
	background: rgba(71, 78, 88, 0.95);
	padding: 15px;
	line-height: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	right: -70px;
	top: 49px;
	z-index: 999;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	background: #333 \0
}

.footer .f-title .fl li.nav_f .sitemap-quick p {
	color: #fff3be;
	font-size: 14px;
	font-weight: 700
}

.footer .f-title .fl li.nav_f .sitemap-quick dd a {
	height: auto;
	margin: 5px 0;
	color: #dbece1
}

.footer .f-title .fl li.nav_f .sitemap-quick .nav_area {
	clear: both;
	width: 200px;
	border-bottom: 1px solid #777;
	margin-bottom: 10px;
	padding-bottom: 10px
}

.footer .f-title .fl li.nav_f .sitemap-quick .last {
	border: none;
	margin: 0;
	padding: 0
}

.footer .f-title .fl li.nav_f .sitemap-quick a {
	color: #ddd;
	font-size: 12px;
	margin-right: 9px;
	height: 20px;
	line-height: 20px;
	padding: 0;
	float: none;
	display: inline-block
}

.footer .f-title .fl li a {
	color: #fff;
	margin-right: 15px;
	font-size: 14px
}

.footer .f-title .fl li a:hover {
	text-decoration: none
}

.footer .lianjia-link-box {
	padding: 13px 0 20px 0;
	border-bottom: 1px solid #393939;
	background: none
}

.footer .lianjia-link-box .fl {
	width: 1150px
}

.footer .lianjia-link-box .fl .tab {
	height: 40px
}

.footer .lianjia-link-box .fl .tab span {
	display: inline-block;
	padding: 8px 10px;
	background: #121212;
	color: #888c8e;
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 12px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.footer .lianjia-link-box .fl .tab span:empty {
	display: none
}

.footer .lianjia-link-box .fl .tab span.hover {
	background: #394043;
	color: #fff
}

.footer .lianjia-link-box .fl .link-list {
	clear: both
}

.footer .lianjia-link-box .fl .link-list div {
	display: none;
	min-height: 89px
}

.footer .lianjia-link-box .fl dd a {
	color: #888c8e;
	font-size: 12px;
	display: inline-block;
	margin: 10px 10px 0 0
}

.footer .lianjia-link-box .fr {
	width: 140px
}

.footer .lianjia-link-box .fr img {
	border: 5px solid #fff;
	border-radius: 2px;
	width: 129px;
	height: 129px
}

.footer .bottom {
	padding-top: 23px
}

.footer .bottom .copyright {
	color: #888c8e;
	font-size: 12px;
	line-height: 20px
}

.footer .bottom .copyright a {
	color: #888c8e
}

.footer .bottom .hot-frauds {
	display: none
}

.fl {
    float: left;
}
.fr {
    float: right;
}