<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CatelogMapper">
	<sql id="Where_Clause">
		<where>
			<if test="id!=null and id!=0">
				and id= #{id}
            </if>
			<if test="name!=null and name!=''">
				and name LIKE concat(concat('%',#{name}),'%')
                        </if>
		</where>
	</sql>
	<select id="query" parameterType="java.util.Map" resultType="Catelog">
		<if test="page">
		select  * from  catelog
		</if>
		<if test="!page">
		select * from   catelog  
		</if>
		<include refid="Where_Clause" />
		<if test="page">
			limit  ${offset}, ${pageSize}
		</if>
	</select>
	<select id="getCount" parameterType="java.util.Map" resultType="Int">
		select count(0) from catelog
		<include refid="Where_Clause" />
	</select>
	<select id="queryCatelogById" parameterType="int" resultType="Catelog">
		select * from catelog where id=${value}
	</select>
	<insert id="insertCatelog" useGeneratedKeys="true" keyProperty="id"
		parameterType="Catelog">
		insert into catelog
		(name,miaoshu)
		values
		(#{name},#{miaoshu});
	</insert>
	<update id="updateCatelog" parameterType="Catelog">
		update
		catelog set
		name=#{name},miaoshu=#{miaoshu}
		where
		id=#{id}	
	</update>
	<delete id="deleteCatelog" parameterType="int">
		delete from catelog where id=${value}
	</delete>
</mapper>
 