<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TadminMapper">
	<sql id="Where_Clause">
		<where>
			<if test="id!=null and id!=0">and id= #{id}</if>
			<if test="uname!=null and uname!=''">and uname=#{uname}</if>
			<if test="upwd!=null and upwd!=''">and upwd=#{upwd}</if>
		</where>
	</sql>
	<select id="query" parameterType="java.util.Map" resultType="Tadmin">
		<if test="page">
		select * from tadmin
		</if>
		
		<if test="!page">
		select * from   tadmin  
		</if>
		
		<include refid="Where_Clause" />
		<if test="page">
			limit  ${offset}, ${pageSize}
		</if>
	</select>
	<select id="getCount" parameterType="java.util.Map" resultType="Int">
		select count(0) from tadmin
		<include refid="Where_Clause" />
	</select>
	<select id="queryTadminById" parameterType="int" resultType="Tadmin">
		select * from tadmin where id=${value}
	</select>
	<insert id="insertTadmin" useGeneratedKeys="true" keyProperty="id"
		parameterType="Tadmin">
		insert into tadmin (uname,upwd,name,tel,utype) values
		(#{uname},#{upwd},#{name},#{tel},#{utype});
	</insert>
	<update id="updateTadmin" parameterType="Tadmin">
		update tadmin set
		uname=#{uname},upwd=#{upwd},name=#{name},tel=#{tel},utype=#{utype}
		where
		id=#{id}
	</update>
	<delete id="deleteTadmin" parameterType="int">
		delete from tadmin where
		id=${value}
	</delete>
</mapper>
