@charset "utf-8";

html, body {
	background: #EBEBEB;
}

a {
	outline: none;
	text-decoration: none;
}

a:hover, a:focus {
	outline: none;
	text-decoration: none;
}

.breadcrumb_nav {
	position: fixed;
	top: 0px;
	left: 0px;
	margin-bottom: 0px;
	width: 100%;
	z-index: 9999;
	border-radius: 0px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.page-content {
	padding: 10px 10px;
}

.pagination-self {
	margin: 0px;
}

.page-content .lanmu {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.page-content .lanmu .form-control {
	width: 49%;
}

.table .input-lenght {
	width: 60px;
}

.table th {
	text-align: center;
}

.control-label {
	float: left;
	padding-top: 5px !important;
	text-align: right;
	font-weight: 400 !important;
}

.rowmargin {
	margin-top: 30px;
}

input.error {
	border: 1px solid #E6594E;
}

input.highlight {
	border: 1px solid #7abd54;
}

label.error, label.tip {
	margin-left: 8px;
	color: red;
}

label.tip {
	color: #aaa;
}

label.valid {
	width: 32px;
}